<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css')}}" />
    <title>Checkerboard</title>

    <style>
        .color1 {
            background-color: {{color1}};
        }

        .color2 {
            background-color: {{color2}};
        }

        h1{
            color:{{color2}};
            background-color: {{color1}}
        }
    </style>

</head>

<body>
    <div class="title">
        <h1>*** Checkerboard***</h1>
    </div>
    <div class="container">
        <table>
            {% for i in range(filas): %}
            <tr>
                {% for j in range(columnas): %}
                <td class="color{{(i+j)%2+1}}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>